:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  /* Colors */
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --whight-color: #ffffff;
  --light-color: #f4f4fd;
  --modal-backdrop-color: #fcfcfc;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

input {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

/* Base styles */

.body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--whight-color);
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .tablet-container {
    max-width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin: 0 auto;
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
}

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

/* Header styles */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.span-header {
  color: var(--dark-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.nav-link.current {
  color: var(--pressed-state-color);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-link.current::after {
  background-color: var(--pressed-state-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-color);
}

.menu-burger {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.mobile-menu-icon {
  stroke: var(--dark-color);
}

@media screen and (max-width: 767.98px) {
  .header {
    padding: 24px 0;
  }

  .nav-list {
    display: none;
  }

  .address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }

  .menu-burger {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Styles page main content */
/* Styles Hero */

.hero {
  max-width: 100%;
  margin: 0 auto;
  padding: 112px 0;
  background-color: var(--dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Studio/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Studio/hero-bg_mob@2x.jpg);
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;

  color: var(--whight-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--whight-color);
  background-color: var(--primary-brand-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Studio/hero-bg_tab@1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Studio/hero-bg_tab@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Studio/hero-bg_desk@1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Studio/hero-bg_desk@2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}

/* Styles Features */

.features {
  padding: 96px 0;
}

@media screen and (max-width: 767.98px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.features-list-wrapper {
  display: none;
}

.features-subtitle {
  margin-bottom: 8px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .features-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 112px;
    padding: 24px 0;
    margin-bottom: 8px;

    border-radius: 4px;
    background-color: var(--light-color);
  }

  .features-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

/* Styles Gallery of works */

@media screen and (max-width: 1157.98px) {
  .works {
    display: none;
  }
}

.works {
  padding-bottom: 120px;
}

.works-list {
  display: flex;
  gap: 24px;
}

.works-list-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

/* Styles Team */

.team {
  background-color: var(--light-color);
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  max-width: 264px;
  margin: 0 auto;
}

.team-list-item {
  flex-basis: 100%;
  background-color: var(--whight-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-container {
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
}

.team-text {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-socials-item {
  width: 40px;
  height: 40px;
}

.team-list-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  background-color: var(--primary-brand-color);

  color: var(--light-color);
}

.team-list-socials-link:hover,
.team-list-socials-link:focus {
  background-color: var(--pressed-state-color);
}

.team-list-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team-list {
    max-width: 552px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-list {
    max-width: 1128px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

/* Styles Customers */

.customers {
  padding: 96px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px 16px;
  margin: 0 auto;
}

.customers-list-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  border: 1px solid var(--subtle-text-color);

  color: var(--subtle-text-color);
}

.customers-list-icon {
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
  .customers-list {
    /* max-width: 552px; */
    gap: 72px 24px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }

  .customers-list {
    max-width: 1128px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }
}

/* Styles portfolio main content */
/* Styles Filters */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filters-button {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
}

.filters-button:hover,
.filters-button:focus {
  color: var(--whight-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-list-item {
  width: calc((100% - 24px * 2) / 3);
}

.projects-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover,
.projects-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background-color: var(--primary-brand-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

.projects-list-link:hover .overlay,
.projects-list-link:focus .overlay {
  transform: translateY(0%);
}

.projects-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Styles Footer */

.footer {
  background-color: var(--dark-color);
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  color: var(--light-color);
}

.footer-text {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

@media screen and (max-width: 767.98px) {
  .logo-container {
    margin: 0 auto;
  }

  .footer-logo {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
  }

  .logo-container {
    margin-right: 120px;
  }
}

/* Footer Media */

.footer-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--whight-color);

  margin-bottom: 16px;
}

.footer-list-socials {
  display: flex;
  gap: 16px;
}

.footer-list-socials-item {
  width: 40px;
  height: 40px;
}

.footer-list-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  background-color: var(--primary-brand-color);

  color: var(--light-color);
}

.footer-list-socials-link:hover,
.footer-list-socials-link:focus {
  background-color: var(--success-color);
}

.footer-list-icon {
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .media-container {
    margin: 0 auto;
  }

  .footer-media {
    text-align: center;
  }
}

/* Footer Form */

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-form-text {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--whight-color);
}

.footer-form-label {
  width: 100%;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid var(--whight-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--whight-color);
}

.footer-form-input::placeholder {
  color: currentColor;
}

.footer-form-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand-color);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--whight-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button-icon {
  fill: currentColor;
  margin-left: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--pressed-state-color);
}

@media screen and (max-width: 767.98px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .footer-form-text {
    text-align: center;
  }

  .footer-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-container {
    margin-left: auto;
  }
}

/*Modal Window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-overlay-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  padding-top: 72px;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--modal-backdrop-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .modal {
    width: 90%;
    max-width: 392px;
  }
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-70%);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--whight-color);
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-button-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal form */

.modal-caption {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.modal-form-field {
  position: relative;
}

.modal-form-input,
.modal-form-comment {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border-radius: 4px;
  border: 1px solid var(--modal-overlay-color);
  outline: transparent;
  background-color: transparent;

  color: var(--modal-overlay-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: var(--primary-brand-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-brand-color);
}

.modal-form-comment-container {
  margin-bottom: 16px;
}

.modal-form-comment {
  height: 120px;
  padding: 8px 16px;

  resize: none;
}

.modal-form-privacy-container {
  margin-bottom: 24px;
}

.modal-form-checkbox {
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--modal-overlay-color);
  border-radius: 2px;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + label span {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}

.modal-form-link {
  color: var(--primary-brand-color);
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--whight-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--pressed-state-color);
}

/* Mobile menu */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--whight-color);

  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 428px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 80px 35px 40px 40px;
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  color: var(--dark-color);
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-toggle-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--whight-color);
  background-color: var(--pressed-state-color);
  border: none;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--dark-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu-link.current {
  color: var(--pressed-state-color);
}

.mobile-address-list {
  margin-bottom: 48px;
}

.mobile-address-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-address-link.phone {
  color: var(--primary-brand-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-address-link.email {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-list-socials {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
}

.mobile-list-socials-item {
  width: 40px;
  height: 40px;
}

.mobile-list-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 50%;
  background-color: var(--primary-brand-color);

  color: var(--light-color);
}

.mobile-list-socials-link:hover,
.mobile-list-socials-link:focus {
  background-color: var(--success-color);
}

.mobile-socials-icon {
  fill: currentColor;
}

@media screen and (max-width: 428px) {
  .mobile-address-link.phone {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
